  
@media (max-width: 1024px) { /* laptop */
  .homeDiv h1 {
    font-size: 3rem; 
  }

  .homeDiv p {
    font-size: 1.2rem; 
  }

  .navBar ul {
    flex-direction: column; 
    gap: 5px;
  }

  #about div p {
    font-size: 1rem; 
  }

  .contactDiv {
    grid-template-columns: 1fr; 
  }

  .contactDiv input,
  .contactDiv form textarea {
    width: 90%; 
  }

  button {
    width: 90%; 
    margin: 0 auto; 
  }

}
  
