.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

html {
    height: 100%;
}

.body {    
    height: 100%;
    font-family: helvetica, sans-serif;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.title {
    text-align: center;
    color: var(--clr-text);
}


.projects {
    height: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    position: relative;
    margin: 20px 0 0 0;
    border-radius: 18px;
    overflow-y: hidden;
    transition: 0.5s;
}
.projects:hover {
  border-radius: 36px;
  box-shadow: 10px 5px 5px rgb(23, 7, 43);
}

.projectDes {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px 1%;
    width: 98%;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
}

small {
    opacity: 0;
    font-size: 0.85rem;
}

.showDescription p {
    height: 150px;
}

.showDescription small {
  opacity: 1;
  padding: 0 0 10px 0;
}

.site {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 0px;
  color: var(--clr-text);
  cursor: pointer;
}

.about {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

  
@media (max-width: 500px) {

  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 0.5rem;
  }

}

.grid {
  display: grid;
  grid-template-columns:1fr 40fr 1fr;
  /* background-color: rgb(22, 20, 43); */
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ03R60ebUsOsln9lf7PtF-uda5G-pQuivnA&s'); */
  height: 80%;
}
#root {
  height: 100%;
}


.navigate {
  display: flex;
  color: var(--clr-text);
  font-size: 4rem;
  font-weight: 1000;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 15px;
}

.navigate:hover {
  background-color: rgba(0, 0, 0, 0.692);
  transition: 0.5s;
}

.directions {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.directions span {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  color: var(--clr-text);
  font-size: 1.3rem;
  cursor: pointer;
  height: 1.4rem;
  background-color: var(--clr-text);;
}