/* * {
  margin: 0 auto;
} */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  border: 1px solid #ccc;
  height: 54rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.685);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  background-color: mistyrose;
}

#home {
  color: white;
  background-image: url('https://wallpapers.com/images/hd/dark-background-b59iy2towqy5yrgb.jpg');
}

#home h1 {
  margin-left: 40%;
  font-size: 5rem;
  margin-bottom: 50px;
}


#contact p {
  margin: 0 0 0 50px;
  width: 60%;
  font-size: 1.15rem;
}

#about {
  color: white;
  background-position: center;
  background-image: url('https://images8.alphacoders.com/134/1347727.png');
}
#about p {
  margin: 0 5%;
}

#about button, h2 {
  margin: 30px auto;
}
#contact input {
  width: 30rem;
}

.hidden {
  visibility: hidden;
}
.shown {
  visibility: visible;
}

#portfolio {
  background-image: url('https://i.pinimg.com/originals/e7/55/df/e755df7d91a88d1c8f1fd3fb4655ab2e.jpg');
  padding: 0;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url('https://manybackgrounds.com/images/hd/dark-blue-line-reflections-xelvgfi72gzuatet.jpg');
  color: white;
}

#contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact .sectionTwo {
  margin: 0 auto;
}

#contact a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 1.25rem;
}