* {
  transition: 0.1s;
  caret-color: transparent;
}

* span, * img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
          
}
img:active {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
  scrollbar-width: thin; /* "auto" or "thin" for Firefox; "auto" or "thin" or "none" for other browsers */
  scrollbar-color: var(--background-color) var(--background-color); /* thumb and track color for Firefox */
}

#dark-mode {
  --clr-nav: rgba(0, 0, 0, 0.685);
  --clr-text: white;
  --background-color: rgb(30, 32, 34);
  background-color: rgb(30, 32, 34);
  --about-clr: rgb(46, 56, 66);
  --button-clr: #02b31f;
}

#light-mode {
  --clr-nav: rgba(131, 47, 233, 0.678);
  --clr-text: black;
  --background-color: rgb(236, 236, 236);
  background-color: rgb(236, 236, 236);
  --about-clr: rgba(70, 162, 255, 0.541);
  --button-clr: rgb(196, 0, 0);
}

body {
  line-height: 1.6;
  margin: 0 auto;
  font-family: 'Futura';
}

nav {
  color: var(--clr-text);
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

nav a {
  color: var(--clr-text);
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  /* border: 1px solid #ccc; */
  height: 60em;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin: 10px 0;
  padding: 10px;
  font-family: "Futura", serif;
  caret-color: black;
}

button {
  padding: 10px;
  background: var(--button-clr);
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  font-family: "LeagueSpartan";
  border-radius: 5px;
}
button:hover {
  background: #6b6b6b;
  transition: 0.5s;
}

@keyframes buttonActive {
  0% { background-color: var(--background-color); color: initial;}
  10% { background-color: white; color: white;}
  100% { background-color: var(--background-color); color: initial;}
}

button:active {
  animation: buttonActive 1s forwards;
}


.navBar {
  font-family: "LeagueSpartan";
  display: flex;
  background-color: var(--clr-nav);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.navBar ul {
  display: flex;
  gap: 10px;
  font-size: 1.15rem;
}
.navBar .initials {
  padding-left: 10px;
}
.navBar .systemChange {
  padding-right: 10px;
  cursor: pointer;
}
.navBar img {
  margin-top: 10%;
  height: 3rem;
}
.homeDiv {
  display: grid;
  color: var(--clr-text);
  /* background-image: url('https://wallpapers.com/images/hd/dark-background-b59iy2towqy5yrgb.jpg'); */
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.homeDiv .content button a {
  text-decoration: none;
  color: white;
}

.homeDiv h1 {
  margin: 0;
  font-size: 5rem;
  font-family: "LeagueSpartan";
}
.homeDiv p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.homeDiv #image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeDiv img {
  margin: 0 auto;
  border-radius: 400px;
  height: 500px;
  max-width: 500px;
}

#about {
  display: flex;
  color: var(--clr-text);
  align-items: center;
  /* background-position: center; */
  /* background-image: url('https://images8.alphacoders.com/134/1347727.png'); */
}
#about div p {
  margin: 0 5%;
  font-size: 1.25rem;
}
#about h2 {
  margin: 30px auto;
  text-align: center;
  font-family: "LeagueSpartan";
}
#about button {
  margin: 30px auto;
}
.about-content {
  background-color: var(--about-clr);
  border-radius: 25px;
  width: 80%;
  padding-bottom: 30px;
  margin-top: 16px;
}
.hidden {
  visibility: hidden;
  background-color: rgba(38, 44, 51, 0);
  color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  width: 100%;
  font-size: 0rem;
  border-radius: 50px;
  list-style: none;
}
.shown {
  visibility: visible;
  background-color: var(--about-clr);
  padding: 25px 0;
  list-style: none;
  border-radius: 25px;
  width: 80%;
  transition: 0.5s;
}
.shown li {
  margin: 0 5%;
  font-size: 1.25rem;
}

#portfolio {
  /* background-image: url('https://i.pinimg.com/originals/e7/55/df/e755df7d91a88d1c8f1fd3fb4655ab2e.jpg'); */
  padding: 60px 0 0 0;
}

.contactDiv {
  display: grid;
  height: 60%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* background-image: url('https://manybackgrounds.com/images/hd/dark-blue-line-reflections-xelvgfi72gzuatet.jpg'); */
  color: var(--clr-text);
}


.contactDiv input {
  width: 30rem;
}
.contactDiv .sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactDiv .sectionOne {
  display: flex;
  background-color: var(--about-clr);
  border-radius: 25px;
  width: 80%;
  height: 100%;
  justify-self: center;
  align-self: center;
}
.sectionOne img {
  position: relative;
  top: 0.5rem;
  height: 2rem;
}

.sectionOne h2 {
  text-align: center;
  font-size: 1.85rem;
  margin-top: 0;
  font-family: "LeagueSpartan";
}
.sectionOne p {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sectionOne p {
  width: 80%;
  padding: 0;
  font-size: 1.25rem;
  margin: 0;
}
.sectionTwo h2 {
  text-align: center;
  font-size: 1.85rem;
  margin-top: 0;
  font-family: "LeagueSpartan";
}
.contactDiv .sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  background-color: var(--about-clr);
  border-radius: 25px;
  width: 80%;
  height: 100%;
  justify-self: center;
  align-self: center;
}

.contactDiv form textarea {
  align-self: center;
  width: 70%;
  border-radius: 25px;
  height: 4rem;
  padding: 15px 20px;
}
.contactDiv form input {
  align-self: center;
  width: 70%;
  border-radius: 25px;
  padding: 15px 20px;
}
.contactDiv form button {
  align-self: end;
  margin-right: 12%;
}
.contactDiv a {
  text-decoration: none;
  color: var(--clr-text);
  font-family: "LeagueSpartan";
}

footer {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-text);
  background-color: var(--clr-nav);
  display: flex;
  padding: 0.5rem 0;
}

.navUp, .navDown {
  font-family: "LeagueSpartan";
  display: flex;
  position: fixed;
  /* width: 100%; */
  right: 5rem;
  z-index: 1100;
  align-items: center;
  justify-content: space-between;
  border-radius: 1000px;
  height: 3rem;
  background: var(--button-clr);
  transition: 0.5s;
}

.navUp:hover, .navDown:hover {
  background: #6b6b6b;
  transition: .5s;
}
.navUp {
  top: 100px;
}
.navDown {
  top: 10rem;
}

.navUp img, .navDown img {
  height: 3rem;
  cursor: pointer;
}
.navUp a, .navDown a {
  display: flex;
}

.hide {
  background: rgba(0, 0, 0, 0);
  transition: 0.2s;
}
.hide img {
  transition: 0.2s;
  opacity: 0;
}
.hide:hover, .hide img:hover, .hide img:active {
  background: #6b6b6b00;
  cursor: initial;
  transition: 0.2s;
  border-radius: 1000px;
}
.navUp img:active, .navDown img:active {
  border-radius: 1000px;
  background-color: #ffffff;
  transform: translateY(2px);
}
.downloadIMG {
  height: 1rem;
}